# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.idea
.vscode

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.example
dev.db

# Other
.logs/
README.md
ForsitEcommerce.json
